OnlineVideoStore_273/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://connection.video" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://connection.video" xmlns:intf="http://connection.video" xmlns:tns1="http://dto.video" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://connection.video" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.video"/>
   <element name="getAddress">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddressResponse">
    <complexType>
     <sequence>
      <element name="getAddressReturn" type="tns1:Address"/>
     </sequence>
    </complexType>
   </element>
   <element name="logout">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType>
     <sequence>
      <element name="logoutReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="find_Persons">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="username" type="xsd:string"/>
      <element name="registration" type="xsd:dateTime"/>
      <element name="last_Login" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="find_PersonsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="find_PersonsReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePerson">
    <complexType>
     <sequence>
      <element name="personId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePersonResponse">
    <complexType>
     <sequence>
      <element name="deletePersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayMovie">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayMovieResponse">
    <complexType>
     <sequence>
      <element name="displayMovieReturn" type="tns1:MovieInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_Person">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Person"/>
    </sequence>
   </complexType>
   <element name="findMovies">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="name" type="xsd:string"/>
      <element name="banner" type="xsd:string"/>
      <element name="release" type="xsd:string"/>
      <element name="rentalPrice" type="xsd:double"/>
      <element name="category" type="xsd:int"/>
      <element name="isAvailable" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="findMoviesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="findMoviesReturn" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="listMovies">
    <complexType/>
   </element>
   <element name="listMoviesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listMoviesReturn" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="issueMovie">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:int"/>
      <element name="personId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="issueMovieResponse">
    <complexType>
     <sequence>
      <element name="issueMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="submitMovie">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:int"/>
      <element name="personId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="submitMovieResponse">
    <complexType>
     <sequence>
      <element name="submitMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccount">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountResponse">
    <complexType>
     <sequence>
      <element name="getAccountReturn" type="tns1:Account"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
      <element name="accountType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType>
     <sequence>
      <element name="signUpReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPerson">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersonResponse">
    <complexType>
     <sequence>
      <element name="getPersonReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="logon">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logonResponse">
    <complexType>
     <sequence>
      <element name="logonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isUsernameExisted">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isUsernameExistedResponse">
    <complexType>
     <sequence>
      <element name="isUsernameExistedReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayPerson">
    <complexType>
     <sequence>
      <element name="personId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayPersonResponse">
    <complexType>
     <sequence>
      <element name="displayPersonReturn" type="tns1:PersonInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_Movie">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Movie"/>
    </sequence>
   </complexType>
   <element name="updatePersonAccount">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
      <element name="account" type="tns1:Account"/>
      <element name="address" type="tns1:Address"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePersonAccountResponse">
    <complexType>
     <sequence>
      <element name="updatePersonAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.video" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://connection.video"/>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:long"/>
     <element name="personId" type="xsd:long"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="street" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Person">
    <sequence>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:long"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="last_login" nillable="true" type="xsd:dateTime"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="registration" nillable="true" type="xsd:dateTime"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Movie">
    <sequence>
     <element name="banner" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:long"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="nbAvailable" type="xsd:int"/>
     <element name="releaseDate" nillable="true" type="xsd:string"/>
     <element name="rentAmount" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="MovieInfo">
    <sequence>
     <element name="listPerson" nillable="true" type="impl:ArrayOf_tns1_Person"/>
     <element name="movie" nillable="true" type="tns1:Movie"/>
    </sequence>
   </complexType>
   <complexType name="Account">
    <sequence>
     <element name="balance" type="xsd:double"/>
     <element name="id" type="xsd:long"/>
     <element name="monthlyFee" type="xsd:double"/>
     <element name="outstandingMovies" type="xsd:int"/>
     <element name="personId" type="xsd:long"/>
     <element name="ssn" nillable="true" type="xsd:string"/>
     <element name="userType" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="PersonInfo">
    <sequence>
     <element name="listActualRentMovie" nillable="true" type="impl:ArrayOf_tns1_Movie"/>
     <element name="listRentMovie" nillable="true" type="impl:ArrayOf_tns1_Movie"/>
     <element name="person" nillable="true" type="tns1:Person"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findMoviesRequest">

      <wsdl:part element="impl:findMovies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="submitMovieResponse">

      <wsdl:part element="impl:submitMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="find_PersonsRequest">

      <wsdl:part element="impl:find_Persons" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="issueMovieRequest">

      <wsdl:part element="impl:issueMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayPersonResponse">

      <wsdl:part element="impl:displayPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="submitMovieRequest">

      <wsdl:part element="impl:submitMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePersonRequest">

      <wsdl:part element="impl:deletePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayMovieResponse">

      <wsdl:part element="impl:displayMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePersonResponse">

      <wsdl:part element="impl:deletePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isUsernameExistedRequest">

      <wsdl:part element="impl:isUsernameExisted" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountRequest">

      <wsdl:part element="impl:getAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isUsernameExistedResponse">

      <wsdl:part element="impl:isUsernameExistedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logonResponse">

      <wsdl:part element="impl:logonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAddressResponse">

      <wsdl:part element="impl:getAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonResponse">

      <wsdl:part element="impl:getPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonRequest">

      <wsdl:part element="impl:getPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountResponse">

      <wsdl:part element="impl:getAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="issueMovieResponse">

      <wsdl:part element="impl:issueMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listMoviesRequest">

      <wsdl:part element="impl:listMovies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonAccountRequest">

      <wsdl:part element="impl:updatePersonAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayMovieRequest">

      <wsdl:part element="impl:displayMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAddressRequest">

      <wsdl:part element="impl:getAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayPersonRequest">

      <wsdl:part element="impl:displayPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logonRequest">

      <wsdl:part element="impl:logon" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonAccountResponse">

      <wsdl:part element="impl:updatePersonAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findMoviesResponse">

      <wsdl:part element="impl:findMoviesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="find_PersonsResponse">

      <wsdl:part element="impl:find_PersonsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listMoviesResponse">

      <wsdl:part element="impl:listMoviesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="getAddress">

         <wsdl:input message="impl:getAddressRequest" name="getAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAddressResponse" name="getAddressResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="find_Persons">

         <wsdl:input message="impl:find_PersonsRequest" name="find_PersonsRequest">

       </wsdl:input>

         <wsdl:output message="impl:find_PersonsResponse" name="find_PersonsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePerson">

         <wsdl:input message="impl:deletePersonRequest" name="deletePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletePersonResponse" name="deletePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayMovie">

         <wsdl:input message="impl:displayMovieRequest" name="displayMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayMovieResponse" name="displayMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findMovies">

         <wsdl:input message="impl:findMoviesRequest" name="findMoviesRequest">

       </wsdl:input>

         <wsdl:output message="impl:findMoviesResponse" name="findMoviesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listMovies">

         <wsdl:input message="impl:listMoviesRequest" name="listMoviesRequest">

       </wsdl:input>

         <wsdl:output message="impl:listMoviesResponse" name="listMoviesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="issueMovie">

         <wsdl:input message="impl:issueMovieRequest" name="issueMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:issueMovieResponse" name="issueMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="submitMovie">

         <wsdl:input message="impl:submitMovieRequest" name="submitMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:submitMovieResponse" name="submitMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccount">

         <wsdl:input message="impl:getAccountRequest" name="getAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountResponse" name="getAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPerson">

         <wsdl:input message="impl:getPersonRequest" name="getPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPersonResponse" name="getPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logon">

         <wsdl:input message="impl:logonRequest" name="logonRequest">

       </wsdl:input>

         <wsdl:output message="impl:logonResponse" name="logonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isUsernameExisted">

         <wsdl:input message="impl:isUsernameExistedRequest" name="isUsernameExistedRequest">

       </wsdl:input>

         <wsdl:output message="impl:isUsernameExistedResponse" name="isUsernameExistedResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayPerson">

         <wsdl:input message="impl:displayPersonRequest" name="displayPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayPersonResponse" name="displayPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePersonAccount">

         <wsdl:input message="impl:updatePersonAccountRequest" name="updatePersonAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePersonAccountResponse" name="updatePersonAccountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="find_Persons">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="find_PersonsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="find_PersonsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findMovies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findMoviesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findMoviesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listMovies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listMoviesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listMoviesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="issueMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="issueMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="issueMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="submitMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="submitMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="submitMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logon">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isUsernameExisted">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isUsernameExistedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isUsernameExistedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePersonAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePersonAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePersonAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/OnlineVideoStore_273/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
